body {
  @apply bg-slate-50  text-slate-700 dark:bg-slate-900 dark:text-slate-200;

  // &:has(.modal.show) {
  //   @apply overflow-hidden;
  // }

  #app {
    @apply min-h-screen w-full;
  }

  .wrapper {
    @apply flex flex-1 flex-col transition-margin duration-300 ease-in-out lg:ml-60;

    &.expanded {
      @apply lg:ml-20;
    }

    .header {
      @apply sticky top-0 z-50 flex h-12 w-full items-center overflow-visible bg-white border drop-shadow-sm dark:bg-slate-800;
    }

    .content {
      @apply flex w-full flex-col scroll-smooth;
      min-height: calc(100vh - 4rem);
    }

    .footer {
      @apply mt-auto flex flex-wrap items-center justify-center gap-x-8 gap-y-2 bg-white px-4 py-5 text-slate-500 dark:bg-slate-800 sm:justify-between sm:px-6;
    }

  }
}

.custom-underline{
  font-size: 18px;
  position: relative;
  display: inline-block;
  padding-bottom: 10px;
  text-transform: capitalize;
  position: relative;
  &:after{
    width: 100px;
    height: 5px;
    content: "";
    position: absolute !important;
    bottom: 0;
    left: -15px;
    z-index: 0;
    background: -webkit-radial-gradient(50% 50%, ellipse closest-side, #3bc8e7, rgba(255, 42, 112, 0) 60%);
    background: -moz-radial-gradient(50% 50%, ellipse closest-side, #3bc8e7, rgba(255, 42, 112, 0) 60%);
    background: -ms-radial-gradient(50% 50%, ellipse closest-side, #3bc8e7, rgba(255, 42, 112, 0) 60%);
    background: -o-radial-gradient(50% 50%, ellipse closest-side, #3bc8e7, rgba(255, 42, 112, 0) 60%)
  }
}

.sidebar-content > li:first-child.active::after {
  content: '';
  position: absolute;
  top: 50%;
  right: -12px;
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 25px solid white; /* Hauteur du triangle équilatéral */
  transform: translateY(-50%) rotate(-90deg); /* Rotation du triangle vers la gauche */
}

.sidebar-content > li.active::after {
  content: '';
  position: absolute;
  top: 50%;
  right: -9px;
  width: 0;
  height: 0;
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;
  border-bottom: 18px solid white; /* Hauteur du triangle équilatéral */
  transform: translateY(-50%) rotate(-90deg); /* Rotation du triangle vers la gauche */
}